{% extends 'base.html' %}
{% block title %}个人信息维护{% endblock %}
{% load staticfiles %}

{% block content %}
    <div class="am-g am-g-fixed">
        <form class="am-form am-form-horizontal" enctype="multipart/form-data" action="{% url 'users:employee' %}"
              method="post">
            <fieldset>
                <legend>个人信息维护</legend>
                <div class="am-u-sm-12">
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">姓名</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="doc-ipt-3" name="name" placeholder="输入你的姓名"
                                   value="{{ request.user.user_employee.name }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">性别</label>
                        <div class="am-u-sm-10">
                            <label class="am-radio-inline">
                                <input type="radio" name="gender"
                                       {% if request.user.user_employee.gender == 'male' %}checked="checked"{% endif %}
                                       value="male"> 男
                            </label>
                            <label class="am-radio-inline">
                                <input type="radio" name="gender"
                                       {% if request.user.user_employee.gender == 'female' %}checked="checked"{% endif %}
                                       value="female"> 女
                            </label>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">生日</label>
                        <div class="am-u-sm-10">
                            <input type="date" name="birthday" class="am-form-field"
                                   data-am-datepicker="{format: 'yyyy-mm-dd'}"
                                   value="{{ request.user.user_employee.birthday|date:'Y-m-d' }}" placeholder="日历组件"
                                   id="doc-datepicker" data-am-datepicker readonly required>
                            {#                                        <input type="text" name="birthday" class="am-form-field" value="{{ request.user.user_employee.birthday|date:'Y-m-d' }}" id="doc-datepicker">#}
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">电话</label>
                        <div class="am-u-sm-10">
                            <input type="text" name="moblie" id="doc-ipt-3" placeholder="输入你的联系电话"
                                   value="{{ request.user.user_employee.moblie }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">邮箱</label>
                        <div class="am-u-sm-10">
                            <input type="email" name="email" id="doc-ipt-3" placeholder="输入你的邮箱"
                                   value="{{ request.user.user_employee.email }}">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-select-1" class="am-u-sm-2 am-form-label">单位</label>
                        <div class="am-u-sm-10">
                            <select id="doc-select-1" name="units">
                                 {% for choices in request.user.user_employee.units.queryset %}
                                    <option value="choices.units">{{ choices.get_units_display }}</option>
                                        {% endfor %}
                            </select>
                        </div>
                        <span class="am-form-caret"></span>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-md-offset-2 am-u-md-10">
                        <button type="submit" class="am-btn am-btn-primary">提交</button>
                    </div>
                </div>
                {% csrf_token %}

            </fieldset>
        </form>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        $(function () {
            $('#doc-form-file').on('change', function () {
                var fileNames = '';
                $.each(this.files, function () {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                });
                $('#file-list').html(fileNames);
            });


        });

    </script>

{% endblock %}