{% extends 'base.html' %}
{% block title %}故障提交页面{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="am-g am-g-fixed am-margin-top">


<form action="/polls/" method="POST" role="form" class="am-form am-form-horizontal">
  <legend>故障提交</legend>

  <div class="am-form-group">
    <label for="" class="am-u-md-2 am-form-label">姓名</label>
    <div class="am-u-md-10">
    <input type="text" name="repair_man" id="" placeholder="输入你的姓名">
    </div>
  </div>

  <div class="am-form-group">
    <label for="" class="am-u-md-2 am-form-label am-text-right">单位</label>
    <div class="am-u-md-10">
      <input type="text" name="unit" id="" placeholder="输入你所在的单位">
    </div>
  </div>

  <div class="am-form-group">
    <label for="" class="am-u-md-2 am-form-label am-text-right">联系电话</label>
    <div class="am-u-md-10">
      <input type="tel" name="telephone" id="" placeholder="输入你的联系电话">
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ta-1" class="am-u-md-2 am-text-right">故障描述</label>
    <div class="am-u-md-10">
    <textarea  rows="5" name="content" id="doc-ta-1"></textarea>
    </div>
  </div>
    <input type="hidden" name="pub_date" id="">
  <div class="am-form-group">
    <div class="am-u-md-offset-2 am-u-md-10">
      <button type="submit" class="am-btn am-btn-primary">提交</button>
    </div>
  </div>
    {% csrf_token %}
</form>

</div>
{% endblock %}